@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: 'Rubik', serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  direction: rtl; /* Set text direction to right-to-left */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme change */
}

.surah-list {
  text-align: center;
  padding: 20px;
}

.surah-list h1 {
  background-color: #ffffff; /* Matching the navbar color */
  color: black;
  padding: 1rem;
  margin: 0;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.surah-list ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two-column layout */
  gap: 20px; /* Space between columns */
}

.surah-list li {
  margin: 1rem 0;
  padding: 10px;
  border: 1px solid black; /* Matching the navbar color */
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
  transition: transform 0.2s ease-in-out; /* Smooth transition for hover effect */
}

.surah-list li:hover {
  transform: translateY(-5px); /* Lift the item slightly on hover */
  text-underline-offset: 6px
}

.surah-list a {
  text-decoration: none;
  color: black; /* Matching the navbar color */
  font-weight: bold;
}

.surah-list a:hover {
  text-decoration: underline;
  color: #A0522D; /* Darker brown on hover */
}

.surah-number {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: white; /* White background */
  color: black; /* Matching the navbar color */
  text-align: center;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid black; /* Border for better visibility */
}
